*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center; 
    line-height: 1.8;
}
.container{
    max-width: 1200px;
    display: flex;
   flex-direction: column;
    justify-content: center;
    padding: 10px;
}